/* GLOBAL */

@font-face {
  font-family: "BPG Arial";
  src: url("../assets/bpg_arial_2009.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BPG Arial";
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

li {
  list-style: none;
}

a:hover {
  color: #5b5b5b;
}

.btn {
  height: 40px;
  padding: 10px;
  border-radius: 8px;
}

/*==== INDEX PAGE ====*/

/* HEADER */

.header {
  background-color: #fff;
  width: 100%;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 0;
}

.header_nav_list {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 21px;
}

.index_content {
  max-width: 900px;
  margin: 60px auto;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.event {
  display: flex;
}

.event_image_container {
  margin-right: 20px;
  max-width: 350px;
  height: auto;
}

.event_image {
  width: 100%;
  height: auto;
}

.event_venue_link {
  color: rgb(46, 77, 253);
  font-weight: bold;
}

.events_list_item {
  margin: 12px 0;
}

.event_remove_btn {
  margin-top: 15px;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #ff4d4d;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.event_edit_btn {
  cursor: pointer;
}

/*======== CREATE EVENTS PAGE ========*/

/* CREATE EVENT BODY */

.create_event_body {
  background-color: #dcdbdb;
}

/* ADD EVENT CONTENT */

.create_event_content {
  height: calc(100vh - 87px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_inner {
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 400px;
  text-align: center;
}

.events_title {
  margin-bottom: 50px;
}

/* ADD EVENT FORM */

.add_event_form {
  width: 100%;
}

.add_event_form input {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  border: solid #dcdbdb 1px;
  width: 100%;
  font-size: 19px;
}

.add_event_form input:first-child {
  margin-top: 0;
}

.upload_img_label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
}

.add_event_btn {
  margin-top: 30px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add_event_btn:hover {
  background-color: #5b5b5b;
}

/*==== LOGIN ====*/
.login_body {
  background-color: #dcdbdb;
}

.login_body .content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_body .content form {
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 400px;
  text-align: center;
}

.login_body .content form input {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  border: solid #dcdbdb 1px;
  width: 100%;
}

.login_body .content form input:first-child {
  margin-top: 0;
}

.login_btn {
  margin-top: 30px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login_btn:hover {
  background-color: #5b5b5b;
}

.logout_btn {
  color: #ff4d4d;
  font-weight: bold;
  font-size: #ff0000;
  font-size: 16px;
}
