{% extends "base.html" %} {% block title %}მთავარი{% endblock %} {% block
body_class %}create_event_body{% endblock %} {% block content %}
<main class="content create_event_body">
  <main class="content create_event_content">
    <div class="content_inner">
      <h2 class="title events_title">დაამატე ივენთი</h2>
      <form id="add_event_form" class="add_event_form">
        <input
          type="text"
          name="title"
          id="event_name"
          placeholder="ივენთის სახელი"
        />
        <input type="text" name="city" id="event_city" placeholder="ქალაქი" />
        <input
          type="text"
          name="venue"
          id="event_venue"
          placeholder="მდებარეობა (მეპის ლინკი)"
        />
        <input
          type="text"
          name="performers"
          id="event_performers"
          placeholder="შემსრულებელი"
        />
        <input
          type="datetime-local"
          name="datetime"
          id="event_date"
          placeholder="თარიღი"
        />
        <textarea
          name="description"
          id="event_description"
          placeholder="აღწერა"
        ></textarea>
        <label for="event_image" class="upload_img_label">
          სურათი:
          <input type="file" name="image" id="event_image" accept="image/*" />
        </label>
        <button type="submit" id="add_event_btn" class="add_event_btn">
          დამატება
        </button>
      </form>
    </div>
  </main>
  <script type="module" src="/static/scripts/pages/create_event.js"></script>
  {% endblock %}
</main>
