{% extends "base.html" %} {% block title %}მთავარი{% endblock %} {% block
body_class %}create_event_body{% endblock %} {% block content %}
<main class="content create_event_body">
  <main class="content create_event_content">
    <div class="content_inner">
      <h2 class="title events_title">დაამატე ივენთი</h2>
      <form id="add_event_form" class="add_event_form">
        <input
          type="text"
          name="event_name"
          id="event_name"
          placeholder="ივენთის სახელი"
        />
        <input
          type="text"
          name="event_city"
          id="event_city"
          placeholder="ქალაქი"
        />
        <input
          type="text"
          name="event_venue"
          id="event_venue"
          placeholder="მდებარეობა (გუგლ მეპის ლინკი)"
        />
        <input
          type="text"
          name="event_performers"
          id="event_performers"
          placeholder="შემსრულებელი"
        />
        <input
          type="datetime-local"
          name="event_date"
          id="event_date"
          placeholder="თარიღი"
        />
        <button type="submit" id="add_event_btn" class="add_event_btn">
          დამატება
        </button>
      </form>
    </div>
  </main>
  <script type="module" src="/static/scripts/pages/create_event.js"></script>
  {% endblock %}
</main>
