<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>დაამატე ივენთი</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="icon"
      href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAY==/
    ABCAbQADAAEAEgAAAA=="
    />
  </head>
  <body>
    <header class="header add_event_header">
      <div class="header_inner">
        <h1 class="logo">
          <a href="index.html"> ლოგო </a>
        </h1>
        <nav class="header_nav">
          <ul class="header_nav_list">
            <li class="header_nav_list_item">
              <a href="index.html">მთავარი</a>
            </li>
            <li class="header_nav_list_item">
              <a href="create_event.html">დამატება</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="content">
      <div class="events" id="events"></div>
    </main>
  </body>
  <script type="module" src="../scripts/api/api.js"></script>
  <script type="module" src="../scripts/pages/index.js"></script>
</html>
