<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>შესვლა</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body class="login_body">
    <main class="content">
      <div class="content_inner">
        <h1 class="login_title">ადმინი</h1>
        <form id="auth_form">
          <input type="email" placeholder="იმეილი" />
          <input type="password" placeholder="პაროლი" />
          <button type="submit" id="login_btn" class="login_btn btn">
            შესვლა
          </button>
        </form>
      </div>
    </main>
  </body>
  <script type="module" src="../scripts/api/api.js"></script>
  <script type="module" src="../scripts/pages/login.js"></script>
</html>
